<div class="col-md-3">
    <div class="card clickable"
         onclick="location = '{{ path('boutique/rayon',{'idCategory':category.id}) }}'" >
        <img src="{{ asset(category.visuel) }}" class="card-img-top" alt="Fruits">
        <div class="card-body">
            <h4 class="card-title">{{ category.libelle }}</h4>
            <p class="card-text"><i>{{ category.texte }}</i></p>
        </div>
    </div>
</div>